.container {
  width: min(1080px, calc(100% - 4rem));
  margin-inline: auto;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logOutBtn {
  padding: 0.25rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  background: rgb(213, 67, 67);
  text-transform: capitalize;
  font-weight: bold;
}
